#headerIMG{
  padding-top: 5%;
  margin: 0px;
  width: 100%;
  height: 10%;
}

body{
  //background-color: #03A9F4;
  margin: 0px;
}

#menuBar{
  position: fixed;
  width: 100%;
  background-color: #F44336;
  font-family: cursive;
}

#menuBar ul{
  list-style-type: none;
  text-align: center;
  padding-left: 18%;
}

#menuBar a{
  text-decoration: none;
  display: block;
  color: white;
  padding: .5em 1.5em;
}

#menuBar li{
  font-size: 1.5em;
  float:left;
}

#menuBar a:hover{
  background-color: #FF5722;
}

/*#main{
  p{
    color: red;
  }
  h1{
    color: blue;
  }
}*/

h1{
  font-family: inherit;
  color: white;
  padding-top: 5%;
  padding-left: 5%;
}

#main{
  height: auto;
}

#main p{
  font-family: Vendana,serif;
  font-size: 2em;
  line-height: 150%;
  color: 743170469;
  padding-left: 10%;
}

#main img{
  width: 80%;
  padding-top: 10%;
  padding-left: 10%;
}

#freePaid{
height: auto;
  color: black;
  margin: 0%;
  border: solid .25em yellow;
  width: 100%
;
  padding: 50px;
  background-color: yellow;
}

#freePaid ul{
	padding: 15%;
	background-color: grey;
}

.Items{
	list-style-type: none;
}