#headerIMG
{
    width: 100%;
    height: 15%;
    margin: 0;
    padding-top: 3%;
}

body
{
    margin: 0;

    //background-color: #03a9f4;
}

#menuBar
{
    font-family: cursive;

    position: fixed;

    width: 100%;

    background-color: #f44336;

    //text-align: center;
}

#menuBar ul
{
    display: table;

    margin: 0 auto;

    list-style-type: none;

    text-align: center;

    //display: inline-block;
}

#menuBar a
{
    display: block;

    padding: .5em 1.5em;

    text-decoration: none;

    color: white;
}

#menuBar li
{
    font-size: 1.5em;

    float: left;
}


#menuBar a:hover
{
    background-color: #ff5722;
}

/*#main{
  p{
    color: red;
  }
  h1{
    color: blue;
  }
}*/

h1
{
    font-family: inherit;

    padding-top: 5%;
    padding-left: 0%;

    color: black;
}
hr{
      height: 10px;
      background-color: black;
}

#main
{
    width: 100%;
    height: auto;
    padding-bottom: 5em;
}

#main td
{

    width: 50%;
}

#main td div
{
    font-size: 1.2em;

    overflow: scroll;

    height: 30em;

    color: white;
    background-color: #256f58;
}
div img{
    height: 35em;
    margin-left: 8em;
}
div h1{
    margin-left: 1em;
}

div h2{
    margin-left: 4em;
}


#main p
{
    font-family: Vendana,serif;
    font-size: 1.2em;
    line-height: 150%;

    padding-left: 10%;
    padding-right: 10%;
    color: 743170469;

    //width: 50%;
}

#main img
{
    width: 80%;
    height: 60%;
    padding-top: 10%;
    padding-left: 10%;

    //vertical-align: center;
    //margin-right: 30%;
}

#freePaid
{
    font-family: Arial Black;

    width: 100%;
    height: auto;
    margin: 0;
    padding: 50px;

    color: white;
    background-color: #307e2a;
}


#freePaid td h1
{
    margin-left: 40%;
    padding-top: 0;

    text-align: center;

    color: #f44336;
}

#freePaid ul
{
    font-size: 1.5em;

    padding-right: 10%;
}

#freePaid li
{
    padding-bottom: 1.5em;
}
.Items
{
    padding-left: 3em;

    list-style-type: none;
}
